body {
  margin: 0;
}

h1 {
  font-size: 60px;
  margin-top: 0;
  color: white;
  font-family: 'Arvo', serif;
}


/**********SPLASH SCREEN**********/
#title-screen {
  background-color: #7f87cf;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.start-button {
  background-color: green;
  cursor: pointer;
  color: white;
  font-size: 20px;
  display: block;
  position: relative;
  margin-top: 25px;
}



/**********HIDES GAME SCREEN**********/
.hidden {
  display: none;
}



/**********WRAPPER**********/
#wrapper {
  background-color: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/**********TOP CONTAINER**********/
#top-container {
  justify-content: center;
  display: flex;
  background-color: #517189;
  align-items: center;
  text-align: center;
}
#top-container .timer {
  /*background-color: #ff0000;*/
  font-family: 'Arvo', serif;
  text-align: center;
  margin: 5px;
  font-size: 40px;
  position: relative;
}



/**********WORD CONTAINER**********/
#word-container   {
  background-color: #999;
  width: 100%;
  height: 69%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

/*#word-container .final-score {
background-color: white;
text-align: center;
font-size: 100px;
height: 100%;
width: 100%;
padding-top: 7%;
display: flex;
justify-content: center;
align-items: center;
}*/

.reset {
  width: 9%;
  margin: auto;
  font-size: 20px;
  cursor: pointer;
}



/**********BOTTOM CONTAINER**********/
#bottom-container {
  justify-content: space-around;
  display: flex;
  background-color: #517189;
  align-items: center;
  text-align: center;
}
/*divs in bottom container*/
#bottom-container .score {
  background-color: #ffe4e1;
  font-family: 'Arvo', serif;
  text-align: center;
  font-size: 20px;
  margin: 5px;
  padding: 1%;
  position: relative;
}
#bottom-container .miss {
  background-color: #ffff00;
  font-family: 'Arvo', serif;
  text-align: center;
  font-size: 20px;
  margin: 5px;
  padding: 1%;
  position: relative;
}
#bottom-container .input-box{
  width: 300px;
  font-size: 25px;
  text-align: center;
}
#bottom-container .input-box-container {
  margin: 5px;
  padding: 0;
}



/**********MEDIA QUERIES**********/
/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}


